.banner_section .video_banner {
  overflow: hidden; }
  .banner_section .video_banner video {
    width: 100vw;
    height: calc(100vh - 65px);
    object-fit: cover; }
    @media only screen and (max-width: 767px) {
      .banner_section .video_banner video {
        height: calc(100vh - 50px); } }
.banner_section .banner_info_section {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: var(--color_white);
  text-align: center; }
  .banner_section .banner_info_section h1 {
    font-weight: 400;
    font-family: var(--font_secondary);
    font-size: 64px;
    line-height: 1; }
    @media only screen and (max-width: 767px) {
      .banner_section .banner_info_section h1 {
        font-size: 56px; } }
    .banner_section .banner_info_section h1 span {
      display: block;
      font-size: 36px;
      margin-bottom: 10px;
      font-family: var(--font_primary); }
      @media only screen and (max-width: 767px) {
        .banner_section .banner_info_section h1 span {
          font-size: 24px; } }
.banner_section .marquee {
  height: 70px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: -5px;
  background-color: #EBD986; }
  @media only screen and (max-width: 767px) {
    .banner_section .marquee {
      height: 51px; } }
  .banner_section .marquee .marquee__inner {
    display: flex;
    white-space: nowrap;
    animation: marquee 15s linear infinite; }
  .banner_section .marquee span {
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 400;
    color: #010101;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease; }
    @media only screen and (max-width: 767px) {
      .banner_section .marquee span {
        font-size: 16px; } }
    .banner_section .marquee span img {
      padding-left: 20px; }
    .banner_section .marquee span:hover {
      font-weight: 600; }
@keyframes marquee {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-50%); } }
.wellness h2 {
  font-weight: 400;
  font-family: var(--font_secondary);
  font-size: 48px;
  line-height: 1;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .wellness h2 {
      font-size: 32px;
      line-height: 1.2; } }
  .wellness h2 span {
    font-size: 44px;
    font-family: var(--font_primary); }
    @media only screen and (max-width: 767px) {
      .wellness h2 span {
        font-size: 28px;
        display: inherit; } }
.wellness .wellness_row1 {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 767px) {
    .wellness .wellness_row1 {
      flex-wrap: wrap; } }
  .wellness .wellness_row1 .goal_btn {
    transition: all 0.3s ease; }
    @media only screen and (max-width: 767px) {
      .wellness .wellness_row1 .goal_btn {
        width: 65%; } }
    @media only screen and (max-width: 767px) {
      .wellness .wellness_row1 .goal_btn.width_auto {
        width: 100%; } }
    .wellness .wellness_row1 .goal_btn:hover .arrows .arrow1 {
      top: 0%;
      left: 50%;
      position: absolute;
      transform: translate(20%, -120%); }
    .wellness .wellness_row1 .goal_btn:hover .arrows .arrow2 {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%); }
    .wellness .wellness_row1 .goal_btn a {
      align-items: center;
      grid-gap: 15px;
      font-size: 28px;
      font-weight: 400;
      line-height: 1.2;
      color: #010101;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid #E6E6E6;
      border-radius: 50px;
      display: inline-flex;
      padding: 16px; }
      @media only screen and (max-width: 767px) {
        .wellness .wellness_row1 .goal_btn a {
          font-size: 16px;
          grid-gap: 10px;
          padding: 10px 20px;
          width: 100%;
          position: relative;
          justify-content: space-between; } }
      @media (min-width: 768px) and (max-width: 992px) {
        .wellness .wellness_row1 .goal_btn a {
          font-size: 23px; } }
      .wellness .wellness_row1 .goal_btn a .arrows {
        display: flex;
        width: 60px;
        height: 60px;
        overflow: hidden;
        position: relative;
        align-items: center;
        border-radius: 100px;
        justify-content: center;
        background-color: #DEF0DC;
        transition: all 0.3s ease; }
        @media only screen and (max-width: 992px) {
          .wellness .wellness_row1 .goal_btn a .arrows {
            width: 46px;
            height: 46px;
            margin-right: -10px; } }
        .wellness .wellness_row1 .goal_btn a .arrows .arrow_inside {
          width: 35px;
          height: 35px;
          position: relative;
          overflow: hidden; }
        .wellness .wellness_row1 .goal_btn a .arrows .arrow1 {
          top: 50%;
          left: 50%;
          position: absolute;
          transition: all 0.3s ease;
          transform: translate(-50%, -50%); }
        .wellness .wellness_row1 .goal_btn a .arrows .arrow2 {
          top: 50%;
          left: 50%;
          position: absolute;
          transition: all 0.3s ease;
          transform: translate(-140%, 30%); }
  .wellness .wellness_row1 .goal_img {
    height: 93.6px; }
    @media only screen and (max-width: 767px) {
      .wellness .wellness_row1 .goal_img {
        width: 35%; } }
    @media (min-width: 768px) and (max-width: 992px) {
      .wellness .wellness_row1 .goal_img {
        height: 79.6px; } }
    .wellness .wellness_row1 .goal_img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease; }
      @media only screen and (max-width: 992px) {
        .wellness .wellness_row1 .goal_img img {
          border-radius: 50px; } }
.wellness .wellness_row2 {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 767px) {
    .wellness .wellness_row2 {
      flex-wrap: wrap; } }
  .wellness .wellness_row2 .goal_btn {
    transition: all 0.3s ease; }
    @media only screen and (max-width: 767px) {
      .wellness .wellness_row2 .goal_btn {
        width: 55%; } }
    @media only screen and (max-width: 767px) {
      .wellness .wellness_row2 .goal_btn.width_auto {
        width: 100%; } }
    .wellness .wellness_row2 .goal_btn:hover .arrows .arrow1 {
      top: 0%;
      left: 50%;
      position: absolute;
      transform: translate(20%, -120%); }
    .wellness .wellness_row2 .goal_btn:hover .arrows .arrow2 {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%); }
    .wellness .wellness_row2 .goal_btn a {
      align-items: center;
      grid-gap: 15px;
      font-size: 28px;
      font-weight: 400;
      line-height: 1.2;
      color: #010101;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid #E6E6E6;
      border-radius: 50px;
      display: inline-flex;
      padding: 16px; }
      @media only screen and (max-width: 767px) {
        .wellness .wellness_row2 .goal_btn a {
          font-size: 16px;
          grid-gap: 10px;
          padding: 10px 20px;
          width: 100%;
          position: relative;
          justify-content: space-between; } }
      @media (min-width: 768px) and (max-width: 992px) {
        .wellness .wellness_row2 .goal_btn a {
          font-size: 23px; } }
      .wellness .wellness_row2 .goal_btn a .arrows {
        display: flex;
        width: 60px;
        height: 60px;
        overflow: hidden;
        position: relative;
        align-items: center;
        border-radius: 100px;
        justify-content: center;
        background-color: #DEF0DC;
        transition: all 0.3s ease; }
        @media only screen and (max-width: 992px) {
          .wellness .wellness_row2 .goal_btn a .arrows {
            width: 46px;
            height: 46px;
            margin-right: -10px; } }
        .wellness .wellness_row2 .goal_btn a .arrows .arrow_inside {
          width: 35px;
          height: 35px;
          position: relative;
          overflow: hidden; }
        .wellness .wellness_row2 .goal_btn a .arrows .arrow1 {
          top: 50%;
          left: 50%;
          position: absolute;
          transition: all 0.3s ease;
          transform: translate(-50%, -50%); }
        .wellness .wellness_row2 .goal_btn a .arrows .arrow2 {
          top: 50%;
          left: 50%;
          position: absolute;
          transition: all 0.3s ease;
          transform: translate(-140%, 30%); }
  .wellness .wellness_row2 .goal_img {
    height: 93.6px; }
    @media only screen and (max-width: 767px) {
      .wellness .wellness_row2 .goal_img {
        height: 67.6px;
        width: 45%;
        order: 1; } }
    @media (min-width: 768px) and (max-width: 992px) {
      .wellness .wellness_row2 .goal_img {
        height: 79.6px; } }
    .wellness .wellness_row2 .goal_img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease; }
      @media only screen and (max-width: 992px) {
        .wellness .wellness_row2 .goal_img img {
          border-radius: 50px; } }
.wellness .wellness_row3 {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 767px) {
    .wellness .wellness_row3 {
      flex-wrap: wrap; } }
  .wellness .wellness_row3 .goal_btn {
    transition: all 0.3s ease; }
    @media only screen and (max-width: 767px) {
      .wellness .wellness_row3 .goal_btn {
        width: 65%; } }
    @media only screen and (max-width: 767px) {
      .wellness .wellness_row3 .goal_btn.width_auto {
        width: 100%; } }
    .wellness .wellness_row3 .goal_btn:hover .arrows .arrow1 {
      top: 0%;
      left: 50%;
      position: absolute;
      transform: translate(20%, -120%); }
    .wellness .wellness_row3 .goal_btn:hover .arrows .arrow2 {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%); }
    .wellness .wellness_row3 .goal_btn a {
      align-items: center;
      grid-gap: 15px;
      font-size: 28px;
      font-weight: 400;
      line-height: 1.2;
      color: #010101;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid #E6E6E6;
      border-radius: 50px;
      display: inline-flex;
      padding: 16px; }
      @media only screen and (max-width: 767px) {
        .wellness .wellness_row3 .goal_btn a {
          font-size: 16px;
          grid-gap: 10px;
          padding: 10px 20px;
          width: 100%;
          position: relative;
          justify-content: space-between; } }
      @media (min-width: 768px) and (max-width: 992px) {
        .wellness .wellness_row3 .goal_btn a {
          font-size: 23px; } }
      .wellness .wellness_row3 .goal_btn a .arrows {
        display: flex;
        width: 60px;
        height: 60px;
        overflow: hidden;
        position: relative;
        align-items: center;
        border-radius: 100px;
        justify-content: center;
        background-color: #DEF0DC;
        transition: all 0.3s ease; }
        @media only screen and (max-width: 992px) {
          .wellness .wellness_row3 .goal_btn a .arrows {
            width: 46px;
            height: 46px;
            margin-right: -10px; } }
        .wellness .wellness_row3 .goal_btn a .arrows .arrow_inside {
          width: 35px;
          height: 35px;
          position: relative;
          overflow: hidden; }
        .wellness .wellness_row3 .goal_btn a .arrows .arrow1 {
          top: 50%;
          left: 50%;
          position: absolute;
          transition: all 0.3s ease;
          transform: translate(-50%, -50%); }
        .wellness .wellness_row3 .goal_btn a .arrows .arrow2 {
          top: 50%;
          left: 50%;
          position: absolute;
          transition: all 0.3s ease;
          transform: translate(-140%, 30%); }
  .wellness .wellness_row3 .goal_img {
    height: 93.6px; }
    @media only screen and (max-width: 767px) {
      .wellness .wellness_row3 .goal_img {
        height: 67.6px;
        width: 35%; } }
    @media (min-width: 768px) and (max-width: 992px) {
      .wellness .wellness_row3 .goal_img {
        height: 79.6px; } }
    @media only screen and (max-width: 767px) {
      .wellness .wellness_row3 .goal_img.width_auto {
        width: 100%; } }
    .wellness .wellness_row3 .goal_img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease; }
      @media only screen and (max-width: 992px) {
        .wellness .wellness_row3 .goal_img img {
          border-radius: 50px; } }
.wellness .wellness_row4 {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 767px) {
    .wellness .wellness_row4 {
      flex-wrap: wrap; } }
  .wellness .wellness_row4 .goal_btn {
    transition: all 0.3s ease; }
    @media only screen and (max-width: 767px) {
      .wellness .wellness_row4 .goal_btn {
        width: 100%; } }
    @media only screen and (max-width: 767px) {
      .wellness .wellness_row4 .goal_btn.width_auto {
        width: 100%; } }
    .wellness .wellness_row4 .goal_btn:hover .arrows .arrow1 {
      top: 0%;
      left: 50%;
      position: absolute;
      transform: translate(20%, -120%); }
    .wellness .wellness_row4 .goal_btn:hover .arrows .arrow2 {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%); }
    .wellness .wellness_row4 .goal_btn a {
      align-items: center;
      grid-gap: 15px;
      font-size: 28px;
      font-weight: 400;
      line-height: 1.2;
      color: #010101;
      text-decoration: none;
      text-transform: uppercase;
      border: 1px solid #E6E6E6;
      border-radius: 50px;
      display: inline-flex;
      padding: 16px; }
      @media only screen and (max-width: 767px) {
        .wellness .wellness_row4 .goal_btn a {
          font-size: 16px;
          grid-gap: 10px;
          padding: 10px 20px;
          width: 100%;
          position: relative;
          justify-content: space-between; } }
      @media (min-width: 768px) and (max-width: 992px) {
        .wellness .wellness_row4 .goal_btn a {
          font-size: 23px; } }
      .wellness .wellness_row4 .goal_btn a .arrows {
        display: flex;
        width: 60px;
        height: 60px;
        overflow: hidden;
        position: relative;
        align-items: center;
        border-radius: 100px;
        justify-content: center;
        background-color: #DEF0DC;
        transition: all 0.3s ease; }
        @media only screen and (max-width: 992px) {
          .wellness .wellness_row4 .goal_btn a .arrows {
            width: 46px;
            height: 46px;
            margin-right: -10px; } }
        .wellness .wellness_row4 .goal_btn a .arrows .arrow_inside {
          width: 35px;
          height: 35px;
          position: relative;
          overflow: hidden; }
        .wellness .wellness_row4 .goal_btn a .arrows .arrow1 {
          top: 50%;
          left: 50%;
          position: absolute;
          transition: all 0.3s ease;
          transform: translate(-50%, -50%); }
        .wellness .wellness_row4 .goal_btn a .arrows .arrow2 {
          top: 50%;
          left: 50%;
          position: absolute;
          transition: all 0.3s ease;
          transform: translate(-140%, 30%); }
  .wellness .wellness_row4 .goal_img {
    height: 93.6px; }
    @media only screen and (max-width: 767px) {
      .wellness .wellness_row4 .goal_img {
        height: 67.6px;
        width: 45%;
        order: 1; } }
    @media (min-width: 768px) and (max-width: 992px) {
      .wellness .wellness_row4 .goal_img {
        height: 79.6px; } }
    .wellness .wellness_row4 .goal_img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease; }
      @media only screen and (max-width: 992px) {
        .wellness .wellness_row4 .goal_img img {
          border-radius: 50px; } }

.svasthyalife .heading_tag {
  position: relative;
  display: inline-block; }
  .svasthyalife .heading_tag h2 {
    font-weight: 400;
    font-family: var(--font_secondary);
    font-size: 64px;
    line-height: 1; }
    @media only screen and (max-width: 767px) {
      .svasthyalife .heading_tag h2 {
        font-size: 32px;
        line-height: 1.2; } }
    .svasthyalife .heading_tag h2 span {
      display: block;
      font-size: 44px;
      font-family: var(--font_primary); }
      @media only screen and (max-width: 767px) {
        .svasthyalife .heading_tag h2 span {
          font-size: 28px;
          display: inherit; } }
  .svasthyalife .heading_tag .arrows {
    top: 10px;
    right: 0;
    z-index: 1;
    position: absolute;
    transform: translateX(100%); }
.svasthyalife .bg_img {
  z-index: -1;
  position: relative; }
  @media only screen and (max-width: 992px) {
    .svasthyalife .bg_img {
      padding: 140px 0 120px; } }
  .svasthyalife .bg_img .top_box {
    left: 0;
    top: 70px;
    display: flex;
    grid-gap: 10px;
    position: absolute; }
    @media only screen and (max-width: 992px) {
      .svasthyalife .bg_img .top_box {
        top: 20px;
        align-items: flex-start; } }
    .svasthyalife .bg_img .top_box .box {
      height: 200px;
      padding: 20px;
      border-radius: 8px;
      display: flex;
      flex-wrap: wrap;
      grid-gap: 60px;
      width: 190px;
      align-items: self-end;
      background-color: #EFF5EB; }
      @media only screen and (max-width: 767px) {
        .svasthyalife .bg_img .top_box .box {
          height: auto;
          padding: 10px;
          width: 132px;
          display: inline-block;
          grid-gap: inherit;
          min-height: 150px;
          align-items: flex-start; } }
      .svasthyalife .bg_img .top_box .box h6 {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        font-family: var(--font_primary); }
        @media only screen and (max-width: 767px) {
          .svasthyalife .bg_img .top_box .box h6 {
            font-size: 14px; } }
      .svasthyalife .bg_img .top_box .box .img_box {
        width: 100%; }
      .svasthyalife .bg_img .top_box .box .text_box {
        width: 100%; }
        @media only screen and (max-width: 767px) {
          .svasthyalife .bg_img .top_box .box .text_box {
            min-height: 70px;
            display: flex;
            align-items: flex-end; } }
      .svasthyalife .bg_img .top_box .box:first-child {
        margin-top: 80px; }
        @media only screen and (max-width: 767px) {
          .svasthyalife .bg_img .top_box .box:first-child {
            margin-top: 40px; } }
  .svasthyalife .bg_img .bottom_box {
    right: 0;
    bottom: 70px;
    display: flex;
    grid-gap: 10px;
    position: absolute; }
    @media only screen and (max-width: 992px) {
      .svasthyalife .bg_img .bottom_box {
        bottom: 0;
        align-items: flex-start; } }
    .svasthyalife .bg_img .bottom_box .box {
      height: 200px;
      padding: 20px;
      border-radius: 8px;
      display: flex;
      flex-wrap: wrap;
      grid-gap: 60px;
      width: 190px;
      align-items: self-end;
      background-color: #EFF5EB; }
      @media only screen and (max-width: 767px) {
        .svasthyalife .bg_img .bottom_box .box {
          height: auto;
          padding: 10px;
          width: 132px;
          display: inline-block;
          grid-gap: inherit;
          min-height: 150px;
          align-items: flex-start; } }
      .svasthyalife .bg_img .bottom_box .box h6 {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        font-family: var(--font_primary); }
        @media only screen and (max-width: 767px) {
          .svasthyalife .bg_img .bottom_box .box h6 {
            font-size: 14px; } }
      .svasthyalife .bg_img .bottom_box .box .img_box {
        width: 100%; }
      .svasthyalife .bg_img .bottom_box .box .text_box {
        width: 100%; }
        @media only screen and (max-width: 767px) {
          .svasthyalife .bg_img .bottom_box .box .text_box {
            min-height: 70px;
            display: flex;
            align-items: flex-end; } }
      .svasthyalife .bg_img .bottom_box .box:first-child {
        margin-top: 80px; }
        @media only screen and (max-width: 767px) {
          .svasthyalife .bg_img .bottom_box .box:first-child {
            margin-top: 40px; } }

.bestsellers h2 {
  font-weight: 400;
  font-family: var(--font_secondary);
  font-size: 48px;
  line-height: 1;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .bestsellers h2 {
      font-size: 32px;
      line-height: 1.2; } }
  .bestsellers h2 span {
    font-size: 44px;
    font-family: var(--font_primary); }
    @media only screen and (max-width: 767px) {
      .bestsellers h2 span {
        font-size: 28px; } }
@media only screen and (max-width: 767px) {
  .bestsellers .bestsellers_section {
    padding-left: 10px; } }
.bestsellers .bestsellers_section .bestsellers_box .img_box {
  border-radius: 8px;
  background-color: #F6EFDF;
  overflow: hidden; }
.bestsellers .bestsellers_section .bestsellers_box .info_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0; }
  .bestsellers .bestsellers_section .bestsellers_box .info_section .broduct_info {
    padding: 15px; }
    .bestsellers .bestsellers_section .bestsellers_box .info_section .broduct_info h5 {
      font-size: 20px;
      line-height: 1.2;
      font-weight: 400;
      padding-bottom: 6px; }
    .bestsellers .bestsellers_section .bestsellers_box .info_section .broduct_info h6 {
      display: flex;
      align-items: center; }
      .bestsellers .bestsellers_section .bestsellers_box .info_section .broduct_info h6 .price {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        padding-right: 10px; }
      .bestsellers .bestsellers_section .bestsellers_box .info_section .broduct_info h6 .delete_price {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        padding-right: 10px;
        color: #727272;
        text-decoration: line-through; }
      .bestsellers .bestsellers_section .bestsellers_box .info_section .broduct_info h6 .percentage {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.2;
        color: #727272; }
.bestsellers .swiper-container-horizontal > .swiper-pagination-bullets, .bestsellers .swiper-pagination-custom, .bestsellers .swiper-pagination-fraction {
  bottom: 0 !important; }
.bestsellers .swiper-pagination-bullet {
  width: 10px;
  height: 10px; }
.bestsellers .swiper-pagination-bullet-active {
  background: #010101; }
.bestsellers .button_section {
  text-align: center; }
  .bestsellers .button_section a {
    color: #fff;
    font-weight: 500;
    padding: 18px 40px;
    border-radius: 45px;
    text-decoration: none;
    display: inline-block;
    background-color: #000;
    transition: all 0.5s ease; }
    @media only screen and (max-width: 767px) {
      .bestsellers .button_section a {
        font-size: 14px;
        padding: 15px 30px; } }
    .bestsellers .button_section a:hover {
      color: #000;
      background-color: #F1D9A2; }

.faq h2 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  font-family: var(--font_secondary); }
  @media only screen and (max-width: 767px) {
    .faq h2 {
      font-size: 32px; } }
  .faq h2 span {
    font-family: var(--font_primary); }
    @media only screen and (max-width: 767px) {
      .faq h2 span {
        font-size: 28px; } }
.faq .faq_section {
  width: 70%;
  margin: auto;
  border-top: 1px solid #ddd; }
  @media only screen and (max-width: 767px) {
    .faq .faq_section {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .faq .faq_section {
      width: 90%; } }
  .faq .faq_section .faq-item {
    padding: 23px 0 15px 0;
    border-bottom: 1px solid #ddd; }
    .faq .faq_section .faq-item .faq-question {
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media only screen and (max-width: 767px) {
        .faq .faq_section .faq-item .faq-question {
          font-size: 14px;
          line-height: 1.3; } }
      .faq .faq_section .faq-item .faq-question span {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 400; }
        @media only screen and (max-width: 767px) {
          .faq .faq_section .faq-item .faq-question span {
            font-size: 14px;
            line-height: 1.3; } }
      .faq .faq_section .faq-item .faq-question .faq-icon {
        font-size: 20px;
        transition: transform 0.5s ease; }
    .faq .faq_section .faq-item .faq-answer {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.3;
      color: #727272;
      margin-top: 8px;
      width: 80%;
      transition: max-height 0.5s ease, opacity 0.5s ease; }
      @media only screen and (max-width: 767px) {
        .faq .faq_section .faq-item .faq-answer {
          font-size: 14px;
          line-height: 1.3; } }
    .faq .faq_section .faq-item.active .faq-answer {
      opacity: 1;
      max-height: 500px; }

.commitment {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 992px) {
    .commitment {
      flex-wrap: wrap; } }
  .commitment .commitment_img {
    width: 49.5%;
    border-radius: 12px; }
    @media only screen and (max-width: 992px) {
      .commitment .commitment_img {
        width: 100%;
        padding-bottom: 15px; } }
    @media (min-width: 768px) and (max-width: 992px) {
      .commitment .commitment_img img {
        width: 100%; } }
  .commitment .commitment_info {
    width: 49.5%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    background-color: #F1D9A2; }
    @media only screen and (max-width: 992px) {
      .commitment .commitment_info {
        width: 100%; } }
    .commitment .commitment_info .info {
      width: 100%;
      padding: 50px; }
      @media only screen and (max-width: 767px) {
        .commitment .commitment_info .info {
          padding: 30px 20px; } }
      .commitment .commitment_info .info h2 {
        font-size: 40px;
        font-family: var(--font_secondary);
        line-height: 1.2;
        font-weight: 400; }
        @media only screen and (max-width: 767px) {
          .commitment .commitment_info .info h2 {
            font-size: 24px;
            line-height: 1.2; } }
        .commitment .commitment_info .info h2 span {
          font-size: 36px;
          display: block;
          font-family: var(--font_primary); }
          @media only screen and (max-width: 767px) {
            .commitment .commitment_info .info h2 span {
              font-size: 20px; } }
      .commitment .commitment_info .info p {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.3; }
        @media only screen and (max-width: 767px) {
          .commitment .commitment_info .info p {
            font-size: 14px; } }
      .commitment .commitment_info .info .button_section a {
        color: #000;
        font-weight: 500;
        padding: 18px 40px;
        border-radius: 45px;
        text-decoration: none;
        display: inline-block;
        background-color: #fff;
        transition: all 0.5s ease; }
        @media only screen and (max-width: 767px) {
          .commitment .commitment_info .info .button_section a {
            font-size: 14px;
            padding: 15px 30px; } }
        .commitment .commitment_info .info .button_section a:hover {
          color: #fff;
          background-color: #000; }

.customers_review h2 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  font-family: var(--font_secondary); }
  @media only screen and (max-width: 767px) {
    .customers_review h2 {
      font-size: 32px; } }
  .customers_review h2 span {
    font-family: var(--font_primary); }
    @media only screen and (max-width: 767px) {
      .customers_review h2 span {
        font-size: 28px;
        display: inherit; } }
.customers_review .swiper {
  padding-bottom: 40px; }
  @media only screen and (max-width: 767px) {
    .customers_review .swiper {
      padding-left: 10px; } }
  .customers_review .swiper .swiper-wrapper .swiper-slide {
    padding: 20px;
    border-radius: 12px;
    background-color: #EFF5EB; }
    .customers_review .swiper .swiper-wrapper .swiper-slide .img_name {
      display: flex;
      align-items: center;
      margin-bottom: 20px; }
      .customers_review .swiper .swiper-wrapper .swiper-slide .img_name .img {
        padding-right: 15px; }
        .customers_review .swiper .swiper-wrapper .swiper-slide .img_name .img img {
          width: 60px;
          border-radius: 50px; }
      .customers_review .swiper .swiper-wrapper .swiper-slide .img_name .name h5 {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2; }
      .customers_review .swiper .swiper-wrapper .swiper-slide .img_name .name h6 {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        color: #727272; }
    .customers_review .swiper .swiper-wrapper .swiper-slide p {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.4;
      color: #727272; }
.customers_review .swiper-container-horizontal > .swiper-pagination-bullets, .customers_review .swiper-pagination-custom, .customers_review .swiper-pagination-fraction {
  bottom: 0 !important; }
.customers_review .swiper-pagination-bullet {
  width: 10px;
  height: 10px; }
.customers_review .swiper-pagination-bullet-active {
  background: #010101; }

.journal_section h2 {
  font-size: 36px;
  font-family: var(--font_secondary);
  line-height: 1;
  font-weight: 400;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .journal_section h2 {
      font-size: 32px;
      line-height: 1.2; } }
  .journal_section h2 span {
    font-family: var(--font_primary); }
    @media only screen and (max-width: 767px) {
      .journal_section h2 span {
        font-size: 28px;
        display: inherit; } }
@media only screen and (max-width: 767px) {
  .journal_section .journal_wrapper {
    padding-left: 10px; } }
.journal_section .journal_wrapper .journal_box .journal_img {
  height: 278px;
  overflow: hidden; }
  .journal_section .journal_wrapper .journal_box .journal_img img {
    border-radius: 8px;
    transition: all 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover; }
.journal_section .journal_wrapper .journal_box:hover img {
  transform: scale(1.1); }
.journal_section .journal_wrapper .journal_box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  font-family: var(--font_primary);
  margin: 10px 0; }
.journal_section .journal_wrapper .journal_box a {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #1a1a1a;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: var(--font_primary); }
.journal_section .button_section {
  text-align: center; }
  .journal_section .button_section a {
    color: #fff;
    padding: 18px 40px;
    border-radius: 45px;
    text-decoration: none;
    display: inline-block;
    background-color: #010101;
    transition: all 0.5s ease; }
    @media only screen and (max-width: 767px) {
      .journal_section .button_section a {
        font-size: 14px;
        padding: 15px 30px; } }
    .journal_section .button_section a:hover {
      color: #000;
      background-color: #F1D9A2; }

.wellness_section .heading_section h2 {
  display: flex;
  font-weight: 400;
  font-family: var(--font_secondary);
  font-size: 36px;
  line-height: 1;
  justify-content: center; }
  @media only screen and (max-width: 767px) {
    .wellness_section .heading_section h2 {
      font-size: 32px;
      line-height: 1.2;
      flex-wrap: wrap; } }
  .wellness_section .heading_section h2 img {
    padding-right: 10px; }
  .wellness_section .heading_section h2 span {
    font-family: var(--font_primary); }
    @media only screen and (max-width: 767px) {
      .wellness_section .heading_section h2 span {
        font-size: 28px;
        display: inherit; } }
.wellness_section .wellness_wrapper {
  overflow: hidden; }
  @media only screen and (max-width: 767px) {
    .wellness_section .wellness_wrapper {
      padding-left: 10px; } }
  .wellness_section .wellness_wrapper .swiper-slide {
    overflow: hidden; }
  .wellness_section .wellness_wrapper .wellness_box {
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease; }
    .wellness_section .wellness_wrapper .wellness_box img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease; }
    .wellness_section .wellness_wrapper .wellness_box:hover img {
      transform: scale(1.2); }

.shipping_section {
  padding: 12px 0;
  background-color: #DEF0DC; }
  .shipping_section .shipping_box {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 767px) {
      .shipping_section .shipping_box {
        width: 100%;
        grid-gap: 10px;
        flex-wrap: wrap; } }
    @media (min-width: 768px) and (max-width: 992px) {
      .shipping_section .shipping_box {
        width: 100%; } }
    @media (min-width: 768px) and (max-width: 992px) {
      .shipping_section .shipping_box {
        font-size: 18px; } }
    .shipping_section .shipping_box .box_section {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 767px) {
        .shipping_section .shipping_box .box_section {
          width: 48%; } }
      .shipping_section .shipping_box .box_section .img {
        padding-right: 10px; }
      .shipping_section .shipping_box .box_section .text {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2; }
        @media only screen and (max-width: 767px) {
          .shipping_section .shipping_box .box_section .text {
            font-size: 14px; } }

.footer_section {
  background-color: #59803C; }
  .footer_section .footer_email_logo {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 767px) {
      .footer_section .footer_email_logo {
        flex-wrap: wrap; } }
    @media only screen and (max-width: 767px) {
      .footer_section .footer_email_logo .logo {
        width: 100%; } }
    .footer_section .footer_email_logo .email {
      width: 40%; }
      @media only screen and (max-width: 767px) {
        .footer_section .footer_email_logo .email {
          width: 100%; } }
      @media (min-width: 768px) and (max-width: 992px) {
        .footer_section .footer_email_logo .email {
          width: 57%; } }
      .footer_section .footer_email_logo .email h5 {
        width: 60%;
        font-size: 18px;
        color: #fff;
        line-height: 1.2;
        font-weight: 400; }
        @media only screen and (max-width: 767px) {
          .footer_section .footer_email_logo .email h5 {
            width: 100%;
            font-size: 16px;
            padding-top: 40px; } }
        @media (min-width: 768px) and (max-width: 992px) {
          .footer_section .footer_email_logo .email h5 {
            width: 100%; } }
      .footer_section .footer_email_logo .email .email_input {
        padding: 15px;
        position: relative;
        border-radius: 50px;
        border: 1px solid #ffffff4d; }
        .footer_section .footer_email_logo .email .email_input input {
          color: #fff;
          border: 0;
          height: 30px;
          width: 60%;
          box-shadow: none;
          background-color: transparent;
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          font-family: var(--font_primary); }
          .footer_section .footer_email_logo .email .email_input input:focus {
            outline: none; }
        .footer_section .footer_email_logo .email .email_input button {
          z-index: 1;
          opacity: 1;
          right: 11px;
          top: 50%;
          position: absolute;
          transform: translateY(-50%);
          padding: 12px 40px;
          border-radius: 50px;
          border: 0;
          background-color: #fff;
          box-shadow: none;
          font-size: 14px;
          font-weight: 500;
          color: #3A3A3A;
          cursor: pointer;
          transition: all 0.5s ease; }
          @media only screen and (max-width: 767px) {
            .footer_section .footer_email_logo .email .email_input button {
              padding: 12px 20px; } }
          .footer_section .footer_email_logo .email .email_input button:hover {
            color: #000;
            background-color: #F1D9A2; }
      .footer_section .footer_email_logo .email ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        opacity: 1;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
        font-family: var(--font_primary); }
      .footer_section .footer_email_logo .email ::-moz-placeholder {
        /* Firefox 19+ */
        opacity: 1;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
        font-family: var(--font_primary); }
      .footer_section .footer_email_logo .email :-ms-input-placeholder {
        /* IE 10+ */
        opacity: 1;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
        font-family: var(--font_primary); }
      .footer_section .footer_email_logo .email :-moz-placeholder {
        /* Firefox 18- */
        opacity: 1;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.5px;
        font-family: var(--font_primary); }
  .footer_section .pages_link_section {
    display: flex;
    grid-gap: 100px; }
    @media only screen and (max-width: 767px) {
      .footer_section .pages_link_section {
        flex-wrap: wrap;
        grid-gap: 40px; } }
    @media only screen and (max-width: 767px) {
      .footer_section .pages_link_section .link_section {
        width: 100%; } }
    .footer_section .pages_link_section .link_section p {
      opacity: 0.6;
      font-size: 16px;
      font-size: 600;
      line-height: 1.2;
      color: #fff; }
    .footer_section .pages_link_section .link_section ul {
      margin: 0;
      padding-left: 0; }
      .footer_section .pages_link_section .link_section ul li {
        list-style: none; }
        .footer_section .pages_link_section .link_section ul li a {
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          text-decoration: none;
          padding-top: 8px;
          display: inline-block; }
  .footer_section .copyright {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    font-weight: 400; }
    @media only screen and (max-width: 767px) {
      .footer_section .copyright {
        font-size: 14px; } }

/*# sourceMappingURL=index.css.map */
